* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, #controls {
    text-align: center;
}

#controls {
    padding-bottom: 30px;
}

#grid-container {
    border: 10px solid;
    border-radius: 5px;
    width: 750px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#grid-container div {
    border: 0.5px solid lightblue;
}